<article class="card">
    <div class="card__row">
        <div class="card__left">
            {{ if ne .Type "page" }}
                {{ if $.Site.Params.posts.showDate }}
                <p class="card__header__date date">
                <a href="{{ .Permalink }}" alt="{{ .Title }}." title="{{ .Title }}." class="card__header__link">
                {{ .Date | time.Format ":date_long" }}</a></p>
                {{ else if $.Site.Params.posts.showAuthor }}
                {{- $author := .Params.author | default site.Params.author }} 
                <p class="card__header__author author">By {{ $author }}.</p>
                {{ end }}
            {{ end }}
        </div>
        <div class="card__right">
            <header class="card__header">
                <h1 class="card__header__title">
                    <a href="{{ .Permalink }}" class="card__header__link" alt="{{ .Title }}.">
                        {{ .Title }}
                    </a>
                </h1>
            </header>
            <main class="card__body">
                {{ .Content | truncate 360 }}
            </main>
            <footer class="card__footer">
                <a href="{{ .Permalink }}" alt="{{ .Title }}." title="{{ .Title }}.">Read more...</a>
            </footer>
        </div>
    </div>
</article>
