/* CARD */
.card {
	margin-bottom: 1.75rem;
	text-justify: distribute;
	width: 90%;
}

.card__row {
	box-sizing: border-box;
	margin: 1.75rem 10% 0.75rem;
}

/* Create two columns that floats next to each other */
.card__right {
    float: right;
    width: 75%;
}

.card__left {
    float: left;
    width: 24%;
    padding-top: 30px;
    padding-right: 10px;
    text-align: center;
  }

/* Clear floats after the columns */
.card__row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1024px) {
  .card__right, .card__left {
    width: 100%;
  }
  .card__left {
    padding: 0px;
    margin-right: 200px;;
    visibility: hidden;
    height: 0px;
  }
}


.card__header__link {
	color: var(--primary-text);
	text-align: left;
}

.card__header__link:hover {
	color: var(--primary);
}

.card__header__author {
	--margin-bottom: 0.75rem;
}

.card__header__title {
	font-family: Asul;
	font-weight: heavy;
	line-height: 1.2;
	margin: 1.414rem 0 0.5rem;
}

.card__header__date {
	text-align: center;
}
