/* POST */
.post {
	min-height: 90vh;
	text-justify: distribute;
}

.post__row {
	box-sizing: border-box;
	margin: 1.75rem 10% 0.75rem;
	max-width: 80%;
}

/* Clear floats after the columns */
.post__row:after {
	content: "";
	display: table;
	clear: both;
}

.post__header {
	display: grid;
	grid-template-areas: "title" "date" "subtitle" "author";
	grid-template-rows: auto;
	justify-content: center;
	padding: 0 10%;
}

.post__title {
	font-size: var(--header);
	grid-area: title;
}

.post__subtitle {
	grid-area: subtitle;
	margin-top: 0.75rem;
	text-align: center;
}

.post__author {
	grid-area: author;
	text-align: center;
}

.post__date {
	grid-area: date;
	margin-bottom: 1.75rem;
	font-style: italic;
	text-align: center;
}

.post__body {
	margin: 1.75rem 10% 0.75rem;
}

.post__body > figure {
	margin-bottom: 1.75rem;
}

.post__body > ol {
	list-style-type: decimal;
}

.post__body > ol > ul,
.post__body > ul {
		list-style-type: disc;
}

.post__body > blockquote > p {
	margin: 0.75rem 6%;
	text-align: justify;
}

.post__body > blockquote > p::before,
.post__body > blockquote > p::after {
	background-color: var(--divider);
	content: "";
	display: block;
	height: 1px;
	width: 100%;
}

.post__body > blockquote > p::before {
	margin-bottom: 1rem;
}

.post__body > blockquote > p::after {
	margin-top: 1rem;
}

.post__body > blockquote > p::after {
	margin-bottom: 1.1rem;
}

.post__body > ul > li,
.post__body > ol > li{
	text-align: left;
}

.post__footer {
	display: flex;
	justify-content: center;
	margin: 0 30% 0.75rem;
}

@media only screen and (max-width: 1199px) {
	.post {
		padding: 0px;
	}

	.post__row {
		box-sizing: border-box;
		margin: 0px;
	}

	.post__body {
		margin: 30px;
	}
}

@media only screen and (max-width: 1024px) {
	.post__row {
		box-sizing: border-box;
		margin: 1.75rem 10% 0.75rem;
		width: 85%;
	}
}

@media only screen and (max-width: 768px) {
	.post {
		padding: 0px;
	}

	.post__row {
		box-sizing: border-box;
		/*margin: 0.25rem 5% 0.25rem;*/
		margin: 10px;
		width: 100%;
	}

	.post__body {
		margin: 10px;
		width: 100%;
	}
}