{{ $reset := resources.Get "css/reset.css" }}
{{ $base := resources.Get "css/base.css" }}
{{ $style := resources.Get "css/style.css" }}
{{ $contact := resources.Get "css/contact.css" }}
{{ $card := resources.Get "css/card.css" }}
{{ $post := resources.Get "css/post.css" }}
{{ $homepage := resources.Get "css/homepage.css" }}
{{ $cover := resources.Get "css/cover.css" }}
{{ $toc := resources.Get "css/toc.css" }}
{{ $stt := resources.Get "css/scroll2top.css" }}
{{ $media := resources.Get "css/media-queries.css" }}
{{ $animations := resources.Get "css/animations.css" }}
{{ $warning := resources.Get "css/warning.css" }}
{{ $notification := resources.Get "css/notification.css" }}
{{ $bundle := slice $reset $base $style $contact $card $post $homepage $cover $toc $stt $media $animations $warning $notification | resources.Concat "css/bundle.css" }}

{{ $css := $bundle | resources.Minify }}
<link rel="stylesheet" href="{{ $css.Permalink }}">

{{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
{{- end }}